body {
  //background-color: #1a1a1d;
  //color: white;


  .login-container {
    margin-top: 5%;
    margin-bottom: 5%;

    .login-form-1 {
      padding: 5%;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);

    }
  }

/* Content card */
textarea {
  resize: none;
  padding: 0;
  outline: none;
}

.card-color {
  background-color: #212529;
  border: 0.4px solid #dbdbdb;
  color: white;
  border-radius: 5px;


}

.card-content {
  background: transparent;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  border: none;

  &:focus {
    outline: none;
  }
}

.form-control:focus {
  background-color: transparent;
  color: white;
}

.card-padding {
  padding: 1rem;
}

.card-body {
  padding-left: 0;
  padding-right: 0;
}

/* End of Content card */

/* Footer */
#sticky-footer {
  flex-shrink: none;
}

/* End of Footer */


/* Global */
.pt-16 {
  padding-top: 1rem;
}

.pb-16 {
  padding-bottom: 1rem;
}

.pr-16 {
  padding-right: 1rem;
}

.pr-8 {
  padding-right: 8px;
}

.underline {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #CCC;
}

/* End of Global */


/* Input fields */
.wrapper {
  border: none;
  box-sizing: border-box;
}

.input {
  background-color: transparent;
  color: white;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #CCC;
  outline: none;

  &:focus {
    outline: none;
  }
}

input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: White;
}

/* End of Input fields */

.modal-content {
  background-color: #212529;
}

#exampleModalLabel {
  color: white;
}

#modal-description {
  color: white;
}
}
